<?xml version="1.0"?>
<!--
  * @category  ScandiPWA
  * @package   ScandiPWA\GtmGraphQl
  * @author    Rihards Stasans <info@scandiweb.com>
 * @author    Dmitrijs Voronovs <info@scandiweb.com>
  * @copyright Copyright (c) 2019 Scandiweb, Inc (https://scandiweb.com)
  * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ScandiPWA_GtmGraphQl" setup_version="0.1.0"/>
</config>
