<?xml version="1.0"?>
<!--
  * @category  Technodom
  * @package   Technodom\GTMGraphQl
  * @author    Rihards Stasans <info@scandiweb.com>
  * @copyright Copyright (c) 2019 Scandiweb, Inc (https://scandiweb.com)
  * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Technodom_GTMGraphQl" setup_version="0.1.0"/>
</config>
